# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

dataset/

venv/
env/
ENV/
.venv/

.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# ==========================
# Environment
# ==========================
.env
.env.*

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# Logs
# ==========================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==========================
# Node
# ==========================
node_modules/
package-lock.json

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Build
# ==========================
dist/
build/

# ==========================
# Uploaded files
# ==========================
uploads/
temp/
cache/

# ==========================
# ML Models
# ==========================
*.joblib
*.h5
*.pt
*.pth
*.ckpt

# ==========================
# Vector DB
# ==========================
faiss_index/
vectorstore/

# ==========================
# Misc
# ==========================
*.sqlite3
*.db