fastapi
uvicorn
python-multipart
python-dotenv

pandas
numpy
scikit-learn
joblib

PyPDF2
pdfplumber
python-docx
docx2txt

groq
requests

SQLAlchemy
psycopg2-binary

python-jose[cryptography]
bcrypt

python-magic
python-dateutil